body{
  background-image: url(https://wallpaperscraft.com/image/dice_3d_flying_104313_1920x1080.jpg);
}


.roll {
  transform: rotate(720deg);
  transition: all 1s ease-in-out;
}
.text-center{
  font-family: helvetica sans-serif;
  color: white;
}

#P1score{
  padding-left: 5px;
}

#P2score{
  padding-left: 5px;
}

.dice {
    /*border:#000 1px solid;*/
    width:100px;
    height:100px;
    margin: 10px;
}


.container {
  display: flex;

  /*flex-direction: column;*/
}

#player1container{
  /*display: flex;*/
  /*position: fixed;*/
}

#player2container{
  /*display: flex;*/
  /*position: fixed;*/
}

.btn{
  border:#420247 1px solid;


}
/*#cashOutBtn{
  margin-top: 370px;
}*/

@media(max-width: 700px){
  .container {
    display: block;
  }

  .text-center {
    tex: 100%;

  }
}
