body{
  background-image: url(https://wallpaperscraft.com/image/dice_3d_flying_104313_1920x1080.jpg);
}


.roll {
  transform: rotate(720deg);
  transition: all 1s ease-in-out;
}
.text-center{
  font-family: helvetica sans-serif;
  color: white;
  text-align: center;
  /*flex-wrap: nowrap;*/
}

#P1score{
  padding-left: 20px;
  color: white;
}

#P2score{

  padding-left: 20px;
  color: white;
}

.dice {
    /*border:#000 1px solid;*/
    width:100px;
    height:100px;
    margin: 10px;



}


.container {
  display: flex;
  align-items: center;

  /*flex-direction: column;*/
}

#player1container{
  margin-top: 100px;
  flex-wrap: nowrap;
  /*display: flex;*/
  /*position: fixed;*/
}

#player2container{
  margin-top: 100px;
  flex-wrap: nowrap;

  /*display: flex;*/
  /*position: fixed;*/
}

.btn{
  border:#420247 1px solid;


}
/*#cashOutBtn{
  margin-top: 370px;
}*/

@media(max-width: 700px){
  .container {
    display: block;
  }


}
