

.roll {
  transform: rotate(720deg);
  transition: all 1s ease-in-out;
  
}

.dice {
    border:#000 1px solid;
    width:100px;
    height:100px;
    margin: 10px;
}

.container {
  display: flex;
  /*flex-direction: column;*/
}

#player1container{
  /*display: flex;*/
  /*position: fixed;*/




}

#player2container{
  /*display: flex;*/
  /*position: fixed;*/



}
